@import "../../scss/utils/variables";
@import "../../scss/utils/mixins";

.sidePanel {
  position: fixed;
  width: 117px;
  background-color: $color-black;
  height: calc(100vh - 91px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .copyright {
    @include font(500, 12, 24);
    position: absolute;
    bottom: 59px;
    width: 9rem;
    color: $color-white;
    transform: rotate(270deg);
  }
}
