// // colors
$color-primary: #20253a;
$color-secondary: #e60000;
$color-white: #fff;
$color-black: #020203;

$color-grey1: #fbfbfb;
$color-grey2: #74798c;

// font
$text-font: "Roboto";

// radius
$border-radius-small: 5px;
$border-radius: 6px;
