html,
body {
  font-family: $text-font, sans-serif;
  color: $color-primary;
  margin: 0;
  background-color: $color-white;
}

* {
  box-sizing: border-box;
}

.app__wrapper {
  display: flex;
  overflow: hidden;
}

.container {
  padding: 68px 7% 68px calc(7% + 117px);
  width: 100%;
  height: calc(100vh - 91px);
  overflow: auto;
}

.color-red {
  color: $color-secondary;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
