html,
body {
  font-family: $text-font, sans-serif;
  color: $color-primary;
  margin: 0;
  background-color: $color-white;
}

* {
  box-sizing: border-box;
}

.app__wrapper {
  display: flex;
  overflow: hidden;
}

.container {
  padding: 50px 5% 50px calc(5% + 117px);
  width: 100%;
  height: calc(100vh - 91px);
  overflow: auto;
}

.error {
  margin: 5rem 10rem;
}
