@import "../../scss/utils/variables";

.sideMenuItem {
  width: 64px;
  height: 64px;
  background-color: $color-white;
  border-radius: $border-radius;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}
